@{
    ViewData["Title"] = "Bookstore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Create", "Bookseries")'">Add books to the library &raquo;</button></p>

<html>
<body class="containers">


    <div>

        <img src="~/images/fOL-BOOK-SALE-banner.png" />
    </div>

</body>
</html>



<p>This is a Bookstore</p>

<div id=" Bookdata"></div>

