@{
   Layout ="_Layout";
}

<div class="text-center">
</div>
<html>
   
<body class="container">
    <div>
    <img src="~/images/Imagetwo.png" class="logo" />
    </div>

    <p class="p">
        No matter what else you have planned for this season,
        we hope picking up a great book or two is on your
        list! As always, we're happy to lend a hand with recommendations
        from your fellow readers, bestselling authors, and more.
    </p>
    <Center>
        
            <!-- header_2.html -->
            <div class="blogWidth">


            </div>
    </Center>

</body>

</html>